[submodule "backend"]
	path = backend
	url = https://github.com/rxvinicius/vini-energia-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rxvinicius/vini-energia-frontend.git
